@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    background: #FFEFD3;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    max-width: 100%; 
}

body { 
    font-family: 'Inter', sans-serif;
} 

header nav { 
    display: flex; 
    justify-content: space-between; 
    padding: 10px 20px; 
} 
nav{
    background: #EFBD8A;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
nav ul li{
    background: #EFBD8A;
    display: inline-block;
    line-height: 35px;
    margin: 0 3px;
    margin-top: 15px;
}
header nav ul { 
    background-color: #EFBD8A;
    list-style-type: none; 
    display: flex; 
    gap: 20px; 
} 
header nav ul li a {
    background-color: #EFBD8A;
    text-decoration: none; 
    color: #74362C; 
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
} 
header nav a img{
    width: 60px;
    height: 60px;
} 
.botonIngresar{
    margin-top: 12px;
}
/*para darle color al pasar el puntero sobre el menu de opciones*/
li a:hover{
    background: #e5ceb7;
    transition: 2s;
}

/* 1ra SECCION INTRODUCCION */
.introduction { 
    background: #FFEFD3;
    text-align: center; 
    /*padding: 50px 0; */ 
    padding: 3rem 0;
} 
.introduction h1{
    font-size: 2rem;
    color:#81450E;
    font-weight: 900;
    background: #FFEFD3;
    margin-top: 70px;
}
p{
    margin-top: 20px; 
    color: #74362C;
}
input{
    height: 35px;
    width: 400px;
    border: none;
    border-radius: 10px;
    background-color: white;
}
button{
    background: white;
    height: 35px;
    width: 76px;
    border-color: white;
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
}
.Img_izquierda1Introduction{
    margin-top: 40px; 
    height: 360px;
    width: 380px;
    margin: 18px;
}
.Img_MedioIntroduction{
    height: 260px;
    width: 480px;
    margin: 18px;
}
.Img_derecha1Introduction{
    height: 360px;
    width: 380px;
    margin: 18px;
}

.intro_input{
    width: 80%;
    max-width: 400px;
    outline: none;
    border: none;
    padding: 1em;
    font: inherit;
    border-radius: .6em;
}
.barreraNavegacion{
    display: flex;
}
.barreraNavegacion a{
    background: #EFBD8A;
}
/* 2da SECCION GALERIA */
.gallery { 
    background: #FFEFD3;
    display: grid; 
    /*grid-template-columns: repeat(1, 2fr); */
    gap: 20px; 
    padding: 10px 0; 
} 
h2{
    text-align: center; 
    padding: 0px 0px 0px 0px;
    font-size: 2rem;
    color:#81450E;
    margin-top: 0px;
    line-height: 0.5;
}
.gallery p{
    text-align: center;
    margin-top: 0px;
}
.boxGallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 240px 240px;
}
.imagenGallery{
    width: 255px;
    height: 240px;
    padding: 0px;
    margin: 0px;
    object-fit: cover;
}

/* 3ra SECCION RESEÑAS */
.testimonials{
    margin-left: 167px;
}
.testimonials, .faq, .team, .donations { 
    background: #FFEFD3;
    padding: 70px 0; 
} 
.testimonials h2{
    text-align: left;
    line-height: 1;
}
/*
.testimonials article { 
    background: #FFEFD3;
    border: 1px solid #EFBD8A; 
    padding: 20px; 
    margin-bottom: 20px; 
} */

.carousel-container {
    width: 100%;
    overflow: hidden;
}
.carousel-content {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-item {
    /* cambiar el porcentaje si deseas*/
    min-width: 27%; 
    box-sizing: border-box;
}
.carousel-button {
    cursor: pointer;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-rectangle {
    width: 329px;
    height: 223px;
    background: white;
    box-shadow: 0px 1px 4px rgba(24, 32, 61, 0.08);
    border-radius: 8px;
    border: 1px #E1E4ED solid;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin: 15px;
    text-align: left;
}
.text {
    background: white;
    color: #484B53;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
    padding: 5px;
    text-align: left;
}
.additional-info {
    background: white;
    color: #484B53;
    font-family: Inter;
    text-align: left;
}

.author {
    background: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    word-wrap: break-word;
}

.date-info {
    background: white;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
}
.date {
    background: white;
    opacity: 0.50;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    word-wrap: break-word;
}
.rating{
    background: white;
}
.star{
    background: white;
    
}
#amarillo{
    color: #E6CF00;
}
#gris{
    color: #B4B9C9;
}

/* 4ta SECCION PREGUNTAS FRECUENTES */ 
.questions{
    padding-left: 450px;
    padding-right: 380px;
    margin-bottom: 80px;
} 
.questions p{
    align-content: center;
    text-align: center;
}
.accordion {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 22px 0;
}
.accordion-item {
    background-color: #f9f9f9;
    color: #5d6375;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    word-wrap: break-word;
}
.accordion-item:last-child {
    border-bottom: none;
}
.accordion-content {
    color: #6D758F;
    display: none;
    padding: 10px;
    background-color: white;
}
.accordion-item.active {
    background-color: #ddd;
}
.accordion-item.active + .accordion-content {
    display: block;
}

/*5ta SECCION EQUIPO DE TRABAJO */

.Team figure { 
    background: #FFEFD3;
    display: inline-block; 

    margin: 0 20px; 

    text-align: center; 
} 
.Team p{
    align-content: center;
    text-align: center;
    padding-left: 80px;
}
.Team h2{
    padding-left: 80px;
}
.boxTeam{
    display: grid;
    width: 90%;
    padding-left: 90px;
    padding-right: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px;
}
.imagenTeam img{
    width: 280px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    object-fit: cover;
    border-radius: 20px;
}
.team_nombre{
    color: #81450E;
}

/*6ta SECCION COMENTARIOS */
section.Comentarios{
    background: #81450E;
    padding: 3rem 0;
    margin-top: 100px;
}
.containerComentarios{
    background: #81450E;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    grid-gap: 2rem;
}
.col1{
    background: #81450E;
    display:flex;
    align-items: center;
    justify-content: center;
}
.imgComentarios{
    width: 90%;
    background: #81450E;
}
.col2{
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    background: #81450E;
    font-size: 2rem;
    color: white;
}
.Comentarios p{
    color: white;
}
#txtComentarios{
    background: #81450E;
    margin: 2rem 0;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: justify;
}
.btnComentarios{
    background: white;
    color: #6D758F;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
}
.boxComentarios{
    background: #81450E;
}
.botonComentarios{
    background: #81450E;
}

/*7ta SECCION DONACIONES */
.donations h2 { 
    background: #FFEFD3;
    line-height: 1;
    text-align: center; 
} 
.donations img{
    display: inline-block;
    width: 18%;
    height: 18%;
    border-style: solid;
    border-color: #81450E;
    border-width: 50px;
    border-radius: 8px; 
    margin-top: 30px;
}
.imagenDonations{
    text-align: center;
}

/* PIE DE PAGINA */
footer{
    background: #EFBD8A;
}
footer p{
    background: #EFBD8A;
    margin: 0;
    color: #81450E;
    padding-top: 10px;
    font-size: 1em;
    margin-right: 280px;
}
footer .container{
    background: #EFBD8A;
    display: inline-flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}

footer .container img{
    height: 60px;
    width: 70px;
    margin: 15px;
    margin-left:-140px;
}

footer .icons{
    color:#81450E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 0 3px 0;
    padding: 0;
}
.fraseDonar{
    margin-left: 140px;
    background: #EFBD8A;
}